.a-container-optin-to-tweet {
  position: fixed;
  bottom: 8vh;
  right: 2vh;
}

.div-container-option-to-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1d9bf0;
}

.div-container-option-to-tweet div {
  width: 22px;
}

@media screen and (min-width: 500px) {
  .a-container-optin-to-tweet {
    position: initial;
  }
  .a-container-optin-to-tweet .div-container-option-to-tweet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1d9bf0;
  }
}

@media screen and (min-width: 1300px) {
  .a-container-optin-to-tweet {
    display: flex;
    justify-content: center;
    height: 50px;
    font-size: 1.3rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
  }

  .a-container-optin-to-tweet span {
    text-align: center;
    margin-left: 0;
    width: 240px;
  }
}
